.app-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.react-flow-container {
  flex: 1;
  height: 100%;
  background-color: var(--bg-primary);
  position: relative;
}
