.react-flow-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary);
  position: relative;
}

.top-nav {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
